{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss"
          ]
        },
        "preset-env": {
          "targets": {
            "browsers": [
              "last 2 versions",
              "ie >= 9"
            ],
            "node": true
          }
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
